<div id="footer-layout">
    <p>Trion</p>
    <img src="imgs/logo.webp" alt="logofoot">
</div>

<div id="privacy">
    <p>&copy; 2025 by Trion.</p>
    <a href="https://www.trionsupercars.com/privacy">
        <p>Privacy Notice</p>
    </a>
</div>

<div id="social">
    <a href="https://www.instagram.com/trionsupercarsofficial/"><img src="svg/social/instagram.svg" alt="Instagram"></a>
    <a href="https://x.com/trion_supercars"><img src="svg/social/twitter.svg" alt="Twitter"></a>
    <a href="https://www.linkedin.com/company/trion-supercars"><img src="svg/social/linkedin.svg" alt="LinkedIn"></a>
</div>